/* Pinata game styles */
.game.pinata .sprite.pinata {
  transform-origin: 50% calc(var(--size)/2 - var(--string));
}

.game.pinata .sprite.pinata::before {
  content: "";
  position: absolute;
  top: calc(-1*var(--string) + var(--size)/2);
  left: 50%;
  width: 2px;
  height: var(--string);
  background: #333;
  z-index: -1;
}
